<%= form_for(:session, url: login_path) do |form| %>
  <div class="form-group">
    <%= form.label "Adresse email", for: "session_email", class: 'control-label' %>
    <%= form.email_field :email, class: 'form-control' , placeholder:"Adresse email", autocomplete: 'off' %>
  </div>
  <div class="form-group">
      <%= form.label "Mot de passe", for: "session_password", class: 'control-label' %>
      <%= form.password_field :password, class: 'form-control', placeholder: "Mot de passe" %>
  </div>
  <%= form.submit "Connexion", class: "btn btn-primary" %>
<% end %>

<p>Nouvel utilisateur? <%= link_to 'Inscrivez-vous maintenant!', signup_path %></p>