<%= form_with(model: etablissement, local: true) do |form| %>
  <% if etablissement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(etablissement.errors.count, "error") %> prohibited this etablissement from being saved:</h2>

      <ul>
      <% etablissement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :etablissement_name %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :etablissement_code %>
  </div>

  <div class="field">
    <%= form.label :activity_id %>
    <%= form.text_field :activity_id, id: :etablissement_activity_id %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id, id: :etablissement_company_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
