<p id="notice"><%= notice %></p>

<h1>Etablissements</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Activity</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etablissements.each do |etablissement| %>
      <tr>
        <td><%= etablissement.name %></td>
        <td><%= etablissement.code %></td>
        <td><%= etablissement.activity %></td>
        <td><%= etablissement.company %></td>
        <td><%= link_to 'Show', etablissement %></td>
        <td><%= link_to 'Edit', edit_etablissement_path(etablissement) %></td>
        <td><%= link_to 'Destroy', etablissement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etablissement', new_etablissement_path %>
