<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @advantage.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @advantage.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @advantage.value %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @advantage.employee %>
</p>

<%= link_to 'Edit', edit_advantage_path(@advantage) %> |
<%= link_to 'Back', advantages_path %>
