<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label  "Nom", class: "control-label" %>
          <%= form.text_field :name, id: :company_name, class: "form-control", placeholder: "Nom de l'entreprise" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label "Raison sociale", class: "control-label"  %>
          <%= form.text_field :socialReason, id: :company_socialReason , class: "form-control", placeholder: "Raison sociale" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label "Forme juridique", class: "control-label" %>
          <%= form.text_field :form, id: :company_form, class: "form-control", placeholder: "Forme juridique" %>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label "N° de compte contribuable", class: "control-label"  %>
          <%= form.text_field :cc, id: :company_cc, class: "form-control", placeholder: "N° de compte contribuable" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label "N° cnps", class: "control-label"  %>
          <%= form.text_field :cnps, id: :company_cnps, class: "form-control", placeholder: "N° CNPS" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label "N° Acte Constitutif", class: "control-label" %>
          <%= form.text_field :num_acte_const, id: :company_num_acte_const, class: "form-control", placeholder: "N° de l'acte constitutif" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label "Date de constitution", class: "control-label" %>
          <%= form.datetime_field :acte_const_at, id: :company_acte_const_at, class: "form-control", placeholder: "Date de constitution" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label "Régime d'imposition", class: "control-label" %>
          <%= form.text_field :impotRegime, id: :company_impotRegime, class: "form-control", placeholder: "Régime d'imposition" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label "Centre d'impôts", class: "control-label" %>
          <%= form.text_field :impotCenter, id: :company_impotCenter, class: "form-control", placeholder: "Centre d'impôts" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label "Sigle", class: "control-label" %>
          <%= form.text_field :sigle, id: :company_sigle, class: "form-control", placeholder: "Sigle" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label "Site Web", class: "control-label" %>
          <%= form.text_field :webSite, id: :company_webSite, class: "form-control", placeholder: "Adresse sit web" %>
        </div>
      </div>

    </div>

  <div class="actions">
    <%= form.submit "Enregistrer", class: "btn btn-primary" %>
  </div>
<% end %>
