<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>N° Compte Contribuable</th>
      <th>N° Cnps</th>
      <th>Type document</th>
      <th>Nom</th>
      <th>Raison social</th>
      <th>Forme Juridique</th>
      <th>Sigle</th>
      <th>Site Web</th>
      <th>Centre d'impôts</th>
      <th>Regime d'imposition</th>
      <th>Date de constitution</th>
      <th>Num Acte Const</th>
      <th>Pays</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.cc %></td>
        <td><%= company.cnps %></td>
        <td><%= company.company_registry_document %></td>
        <td><%= company.name %></td>
        <td><%= company.socialReason %></td>
        <td><%= company.form %></td>
        <td><%= company.sigle %></td>
        <td><%= company.webSite %></td>
        <td><%= company.impotCenter %></td>
        <td><%= company.impotRegime %></td>
        <td><%= company.acte_const_at %></td>
        <td><%= company.num_acte_const %></td>
        <td><%= company.country %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>

