<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Cc</th>
      <th>Cnps</th>
      <th>Company registry document</th>
      <th>Name</th>
      <th>Socialreason</th>
      <th>Form</th>
      <th>Sigle</th>
      <th>Website</th>
      <th>Impotcenter</th>
      <th>Impotregime</th>
      <th>Acte const at</th>
      <th>Num acte const</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.cc %></td>
        <td><%= company.cnps %></td>
        <td><%= company.company_registry_document %></td>
        <td><%= company.name %></td>
        <td><%= company.socialReason %></td>
        <td><%= company.form %></td>
        <td><%= company.sigle %></td>
        <td><%= company.webSite %></td>
        <td><%= company.impotCenter %></td>
        <td><%= company.impotRegime %></td>
        <td><%= company.acte_const_at %></td>
        <td><%= company.num_acte_const %></td>
        <td><%= company.country %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
