<p id="notice"><%= notice %></p>

<p>
  <strong>Cc:</strong>
  <%= @company.cc %>
</p>

<p>
  <strong>Cnps:</strong>
  <%= @company.cnps %>
</p>

<p>
  <strong>Company registry document:</strong>
  <%= @company.company_registry_document %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Socialreason:</strong>
  <%= @company.socialReason %>
</p>

<p>
  <strong>Form:</strong>
  <%= @company.form %>
</p>

<p>
  <strong>Sigle:</strong>
  <%= @company.sigle %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.webSite %>
</p>

<p>
  <strong>Impotcenter:</strong>
  <%= @company.impotCenter %>
</p>

<p>
  <strong>Impotregime:</strong>
  <%= @company.impotRegime %>
</p>

<p>
  <strong>Acte const at:</strong>
  <%= @company.acte_const_at %>
</p>

<p>
  <strong>Num acte const:</strong>
  <%= @company.num_acte_const %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.country %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
