<p id="notice"><%= notice %></p>

<p>
  <strong>Building:</strong>
  <%= @address.building %>
</p>

<p>
  <strong>Cadasref:</strong>
  <%= @address.cadasRef %>
</p>

<p>
  <strong>Cienum:</strong>
  <%= @address.cieNum %>
</p>

<p>
  <strong>Sodecinum:</strong>
  <%= @address.sodeciNum %>
</p>

<p>
  <strong>Ilot:</strong>
  <%= @address.ilot %>
</p>

<p>
  <strong>Lot:</strong>
  <%= @address.lot %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @address.postCode %>
</p>

<p>
  <strong>Quarter:</strong>
  <%= @address.quarter %>
</p>

<p>
  <strong>Postagencenum:</strong>
  <%= @address.postAgenceNum %>
</p>

<p>
  <strong>Streetnum:</strong>
  <%= @address.streetNum %>
</p>

<p>
  <strong>Stagenum:</strong>
  <%= @address.stageNum %>
</p>

<p>
  <strong>Doornum:</strong>
  <%= @address.doorNum %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
