<%= form_with(model: country, local: true) do |form| %>
  <% if country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label "Code Pays", class: "label-control" %>
        <%= form.text_field :code, id: :country_code, class: "form-control", placeholder: "Code pays" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label "Second code Pays", class: "label-control" %>
        <%= form.text_field :code2, id: :country_code2, class: "form-control", placeholder: "Code Pays Simplifié" %>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label "Nom du Pays", class: "label-control" %>
          <%= form.text_field :name, id: :country_name, class: "form-control", placeholder: "Nom du pays" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label "Continent", class: "label-control" %>
          <%= form.text_field :continent, id: :country_continent, class: "form-control", placeholder: "Continent" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="actions">
          <%= form.submit "Enregistrer", class: "btn btn-primary" %>
        </div>
      </div>
    </div>


<% end %>
