<p id="notice"><%= notice %></p>

<h1>Countries</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Code2</th>
      <th>Name</th>
      <th>Continent</th>
      <th>Localname</th>
      <th>Surfacearea</th>
      <th>Lifeexpectancy</th>
      <th>Gnp</th>
      <th>Gnpold</th>
      <th>Population</th>
      <th>Indepyear</th>
      <th>Governmentform</th>
      <th>Headofstate</th>
      <th>Ecapital</th>
      <th>Pcapital</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.code %></td>
        <td><%= country.code2 %></td>
        <td><%= country.name %></td>
        <td><%= country.continent %></td>
        <td><%= country.localname %></td>
        <td><%= country.surfaceArea %></td>
        <td><%= country.lifeExpectancy %></td>
        <td><%= country.gnp %></td>
        <td><%= country.gnpold %></td>
        <td><%= country.population %></td>
        <td><%= country.indepYear %></td>
        <td><%= country.governmentForm %></td>
        <td><%= country.headOfState %></td>
        <td><%= country.eCapital %></td>
        <td><%= country.pCapital %></td>
        <td><%= link_to 'Show', country %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
        <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Country', new_country_path %>
