<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @country.code %>
</p>

<p>
  <strong>Code2:</strong>
  <%= @country.code2 %>
</p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Continent:</strong>
  <%= @country.continent %>
</p>

<p>
  <strong>Localname:</strong>
  <%= @country.localname %>
</p>

<p>
  <strong>Surfacearea:</strong>
  <%= @country.surfaceArea %>
</p>

<p>
  <strong>Lifeexpectancy:</strong>
  <%= @country.lifeExpectancy %>
</p>

<p>
  <strong>Gnp:</strong>
  <%= @country.gnp %>
</p>

<p>
  <strong>Gnpold:</strong>
  <%= @country.gnpold %>
</p>

<p>
  <strong>Population:</strong>
  <%= @country.population %>
</p>

<p>
  <strong>Indepyear:</strong>
  <%= @country.indepYear %>
</p>

<p>
  <strong>Governmentform:</strong>
  <%= @country.governmentForm %>
</p>

<p>
  <strong>Headofstate:</strong>
  <%= @country.headOfState %>
</p>

<p>
  <strong>Ecapital:</strong>
  <%= @country.eCapital %>
</p>

<p>
  <strong>Pcapital:</strong>
  <%= @country.pCapital %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
