<p id="notice"><%= notice %></p>

<h1>Cotisations</h1>

<table>
  <thead>
    <tr>
      <th>Periodstart</th>
      <th>Periodend</th>
      <th>Declaredamount</th>
      <th>Payedamount</th>
      <th>Company</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cotisations.each do |cotisation| %>
      <tr>
        <td><%= cotisation.periodStart %></td>
        <td><%= cotisation.periodEnd %></td>
        <td><%= cotisation.declaredAmount %></td>
        <td><%= cotisation.payedAmount %></td>
        <td><%= cotisation.company %></td>
        <td><%= cotisation.employee %></td>
        <td><%= link_to 'Show', cotisation %></td>
        <td><%= link_to 'Edit', edit_cotisation_path(cotisation) %></td>
        <td><%= link_to 'Destroy', cotisation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cotisation', new_cotisation_path %>
