<p id="notice"><%= notice %></p>

<p>
  <strong>Nature:</strong>
  <%= @charge.nature %>
</p>

<p>
  <strong>Name:</strong>
  <%= @charge.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @charge.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @charge.value %>
</p>

<p>
  <strong>Company:</strong>
  <%= @charge.company %>
</p>

<%= link_to 'Edit', edit_charge_path(@charge) %> |
<%= link_to 'Back', charges_path %>
