<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Dahub Admin Server", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Accueil" , root_path%></li>
        <li><%= link_to "Aide", static_pages_help_path %></li>
        <li><%= link_to "Connexion", "#" %> or</li>
        <li><%= link_to "Inscription", "/signup" %></li>
      </ul>
    </nav>
  </div>
</header>